<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="addUserDetails" method="post" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input id="name" name="name" placeholder="Enter Name"/>
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="Enter Email"/>
        <label for="phone">Phone</label>
        <input id="phone" name="phone" placeholder="Enter Phone"/>
        <label for="state">State</label>
        <input id="state" name="state" placeholder="Enter State"/>
        <p>Gender</p>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>

        <p>Skills</p>
        <select name="skills" multiple="multiple">
            <option value="Java" >Java</option>
            <option value="Spring Boot" >Spring Boot</option>
            <option value="Javascript" >Javascript</option>
            <option value="MySql" >MySql</option>
        </select>


        <label>Photos: </label>
        <input type="file" name="image" accept="image/png, image/jpeg" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>